@font-face {
    src: url("Casad-Serial Bold.ttf");
    font-family: Casad-Serial;
}

body{
    margin: 0px;
    background-color: hsl(0, 0%, 96%);
}
header{
    background-image: url("images/pic2.png");
    background-repeat: repeat-x;
    color: white;
    display: inline block;
    height: 65px;
    align-content: center;
    padding-left: 8px;
    
}
p{
    display: inline-block;
    
}
span{
    display:inline-block
}
.large{
    font-size: 55px;
    font-family: Casad-Serial;
    
}
.small{
    font-size: 40px;   
    font-family: Casad-Serial; 
}
.navbar ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}
.navbar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: small;
    color: black;
    text-decoration: none;
    margin-left: 0px;
    display: block;
    padding: 15px;
    text-align: center;
}
.navbar li{
    float: left;
}
.navbar #home{
    padding-left: 20px;
    margin-left: 15px;
    background-color: black;
    color: white;
}
#latest{
    background-color: black;
    color: white;
}
.navbar a:hover{
    background-color: black;
    color: white;
}
.navbar a:hover #drop{
    background-color: black;
    color: white;
}

#drop{
    display: block;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: small;
    color: black;
}
.navbar .fa-solid.fa-magnifying-glass{
    margin-top: 15px;
    margin-left:555px;
}
#try {
    padding-left: 15px;
    background-color: hsl(0, 0%, 92%);
    height: 32px;
    align-content: center;
    display: block;
}
#news{
    font-size: 12px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6px;
}
#local{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
    font-size: 12px; 
}
.fa-solid.fa-cloud-moon-rain{
    margin-left: 682px;
    align-content: center;
}
.fa-regular.fa-circle.fa-2xs{
    font-size: 5px;
    margin-left: 4.5px;
}
.image{
    display: inline-block;
    
}
#img{
    margin-top: 50px;
    margin-left: 15px;
    width: 430px;
    height: 430px;
    background-image: url("images/news2.png");
    background-repeat: no-repeat;
    margin-right: 18px;
    float: left;
    border-radius: 7px;
}
#img2{
    margin-top: 50px;
    height: 430px;
    width: 250px;
    background-image: url("images/model.jpg");
    background-repeat: no-repeat;
    float: left;
    border-radius: 7px;
}
#coffee{
    margin-top: 50px;
    margin-left: 18px;
    height: 205.5px;
    width: 200px;
    background-image: url("images/coffee.jpg");
    background-repeat: no-repeat;
    float: left;
    border-radius: 7px;
    
}
#sci{
    margin-top: 24px;
    margin-left: 0px;
    height: 205.5px;
    width: 200px;
    background-image: url("images/science.jpg");
    background-repeat: no-repeat;   
    border-radius: 7px;
    float: left;
   
}
#right{
    margin-top: 50px;
    font-weight: lighter;
    margin-right: 20px;
    float: right; /*This makes Latest and Popular inline*/
    
}
#right ul{
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    
}
#right li{
    border-radius: 10px;
    float: left;
    text-align: center;
}
#right a{
    width: 120px;
    border-radius: 5px;
    display: block;
    text-align: center;

}
#right a:hover{
    background-color: black;
    color: white;
}
#right img{
    margin: 5px;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    float: left;
}
.i1{
    display: block;
    margin-right: 2px;
}
.snippet{
    display: inline-block;
}
.set{
    border-radius: 7px;
    margin-top: 10px;
    height: 93px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.one{
    padding-top: 8px;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
    overflow: clip; 
}

.snippet{
    display: block;
}
.img button{
    margin-left: 27px;
    margin-top: 230px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    display: inline;
}

h2{
    margin-top: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13px;
    font-weight: lighter;
}
h1{
    margin-top: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13px;
    font-weight: lighter;
}
.smallImg button{
    margin-left: 27px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    display: inline;
}
h3{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13px;
    font-weight: lighter;
}
#img .x{ 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 260px;
    align-content:center ;
    margin-left: 0px;
}
.x2{
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    align-content:center;
    margin-left: 0px;
    
}
.elite{
    border-radius: 50%;
    width: 30px;
    margin-left: 25px;
    margin-bottom: 5px;
    display: inline-block;
}
.theme{
float: right;
height: 30px;
align-content:center ;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
.theme2{
float: right;
height: 20px;
margin-top: 5px;
align-content:center ;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-right: 55px;
}
#img2 .theme2{
    margin-top: -9px;
}
#img2 .x{
    margin-right: 50px;
    float: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-content:center ;
    margin-left: 0px;
}
#coffee .x2{
    float: right;
    margin-top: 0px;
    margin-right: 80px;
}
#coffee #el1{
    margin-bottom: -32px;
}
#sci .elite{
    margin-top: -15px;
    margin-left: 10px;
}
#sci .x2 {
    margin-top: -15px;
    margin-right: 95px;
}
#sci .theme2{
    margin-top: -5px;
    margin-right: 60px;
}